/*=================
	CORE
=================*/

:root {
	--base-bright: #002b36;		--base-bright-hsl: 0, 0%, 95%;
	--base-light: #839496;		--base-light-hsl: 186, 8%, 55%;
	--base-dark: #374249 /*#073642*/;		--base-dark-hsl: 203, 14%, 25%;
	--base-darker: #191919 /*#042029*/;		--base-darker-hsl: 195, 82%, 9%;
	--base-yellow: #f1c40e;		--base-yellow-hsl: 48, 89%, 50%;
	--base-orange: #cb4b16;		--base-orange-hsl: 18, 80%, 44%;
	--base-red: #dc322f;		--base-red-hsl: 1, 71%, 52%;
	--base-magenta: #d33682;	--base-magenta-hsl: 331, 64%, 52%;
	--base-violet: #6c71c4;		--base-violet-hsl: 237, 43%, 60%;
	--base-cyan: #45a7b9;		--base-cyan-hsl: 189, 46%, 50%;
	--base-blue: #2e8dcd;		--base-blue-hsl: 204, 63%, 49%;
	--base-green: #2ecc71;		--base-green-hsl: 145, 63%, 49% ;
}

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: var(--base-darker);
	min-height: 100vh;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clickthrough {
	pointer-events: none;
}

.color {
	color: currentColor;
}

.bg-color {
	background-color: currentColor;
}

/*=================
	TYPOGRAPHY
=================*/

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Condensed"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.body-font,
body {
	font-family: "Roboto", "system", sans-serif;
	font-weight: normal;
}

body,
input {
	font-size: 1rem;
	color: var(--base-light);
}

a {
	color: hsl(175, 59%, 40%);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0.1em solid hsl(175, 59%, 40%);
	padding: 0.1em 0.2em 0;
	margin: -0.1em -0.2em 0;
	transition: background-color 0.2s;
}

a:hover {
	background-color: hsla(175, 59%, 40%, 0.1);
}

a:active {
	background-color: hsla(175, 59%, 40%, 0.3);
	transition-duration: 0s;
}

a[href="#0"] {
	border-bottom: 0.1em dotted hsl(194, 100%, 40%);
}

p, .body-type {
	font-size: 1.15rem;
	line-height: 1.3em;
	text-indent: 0em;
}

p {
	padding-bottom: 1.5em;
}

h1 {
	font-size: 2rem;
}

/*=================
	FORM
=================*/

button {
	appearance: none;
	border: 0;
	background: var(--base-blue);
	font-size: 1.5rem;
	color: #fff;
	padding: 0.4em 0.8em;
	border-radius: 0.2em;
	transition: transform 0.1s linear;
}

button:hover {
	border-bottom: 0.2em solid hsla(var(--base-dark-hsl), 0.8);
	transform: translate(0, -0.2em);
}

button:focus {
	box-shadow: initial;
	transform: initial;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	background: none;
	border: none;
	border-bottom: 0.1em solid var(--base-light);
	margin: 1.5rem 0 1rem 0;
	color: hsl(var(--base-bright-hsl))
}

form > div {
	position: relative;
}

input[type="text"] {
	padding: 0.5em;
}

.placeholder {
	cursor: text;
	opacity: 0.7;
	transition: opacity 0.3s, color 0.3s;
	position: absolute;
	top: -0.25rem;
	left: 0.5em;
}

input[type="text"]:focus + .placeholder {
	color: hsl(var(--base-blue-hsl));
	opacity: 1;
}

input[type="text"]:valid + .placeholder::after {
	content: "k";
	color: var(--base-green);
	margin-left: 0.5rem;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown) {
	border-right: 0.2em solid red;
}

/*=================
	MAIN
=================*/

main {
	display: flex;
	min-height: 100vh;
}

/*=================
	ASIDE
=================*/

.main-aside {
	flex-shrink: 0;
	padding: 1rem;
	background-color: var(--base-dark);
	max-with: 80vw;
	width: 20rem;
	max-height: 100%;
	overflow-y: scroll;
}

.form-header {
	height: 4rem;
	padding: 1rem;
	margin-top: -1rem;
	display: flex;
	align-items: center;
}

/*=================
	MAP
=================*/

.section-map {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.map-header {
	background-color: var(--base-cyan);
	color: hsl(var(--base-bright-hsl));
	height: 4rem;
	padding: 1rem;
	display: flex;
	align-items: center;
}

canvas {
	max-width: 100%;
}

.map-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

/*=================
	FOOTER
=================*/